/* add this to any element you wish to zoom into */
.annotation-container {
    display: grid;
    width:100%;
    grid-template-columns: [left] 50% [mid] 50% [right];
    grid-template-rows: [top] 50% [mid] 50% [bot];
}

.under {
    z-index: 0;
    grid-row-start: top;
    grid-row-end: bot;
    grid-column-start: left;
    grid-column-end: right;
}

.over {
    z-index: 1;
    grid-row-start: top;
    grid-row-end: bot;
    grid-column-start: left;
    grid-column-end: right;
}